.breaking-changes-view__maintenance-border {
  background: repeating-linear-gradient(
    45deg,
    rgb(151, 190, 90),
    rgb(151, 190, 90) 35px,
    rgb(255, 232, 197) 35px,
    rgb(255, 232, 197) 70px
  );
  padding: 8px;
}

.breaking-changes-view__container {
  background-color: var(--background-primary-alt);
  padding: 8px;
}