/* DONATION VIEW */
.donation-view {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__header {
    font-size: 16px;
    margin-bottom: 12px;
    text-align: center;
  }

  &__sub-header {
    font-size: 14px;
    margin-top: 12px;
    text-align: center;
  }

  &__text {
    font-size: 12px;
    margin-bottom: 12px;
    text-align: justify;
  }

  &__button {
    margin-top: 12px;
    height: 60px;
    width: 217px;
    align-self: center;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 12px;

    &:hover {
      transform: scale(1.1);
      box-shadow: #aaaaaa 4px 4px 12px 4px;
    }
  }

  &__milestone-list {
    padding-left: 0;
  }

  &__milestone-item {
    font-size: 12px;
    margin-bottom: 4px;
  }

  &__emoji {
    margin-right: 8px;
  }

  &__donor-list {
    padding-left: 0;
  }

  &__donor-item {
    font-size: 12px;
  }
}
