/* Heatmap Statistics */
.heatmap-statistics {
}

.heatmap-statistics hr {
  margin: 8px 0;
}

.heatmap-statistics__header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  align-items: center;

  font-size: 0.65em;
}

.heatmap-statistics__header button {
  justify-self: start;
}

.heatmap-statistics__title {
  font-size: 1.2em;
  text-align: center;
}

.heatmap-statistics__content {
  font-size: 0.8em;
  margin-top: 0.6em;
}