/* Boxes */
.heatmap-tracker-boxes {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(53, var(--heatmap-tracker-box-size));
  grid-template-rows: repeat(7, var(--heatmap-tracker-box-size));
  grid-column: 1;
  row-gap: var(--heatmap-tracker-box-gap);
  column-gap: var(--heatmap-tracker-box-gap);
}

/* Separate Months */

.heatmap-tracker-boxes.separate-months {
  grid-auto-flow: column;
  grid-template-columns: repeat(64, var(--heatmap-tracker-box-size));
}

.heatmap-tracker-boxes .space-between-box {
  background-color: transparent;

  &:hover {
    transform: unset;
    border: unset;
    cursor: default;
  }
}

.heatmap-tracker-boxes .internal-link {
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.heatmap-tracker-boxes .today {
}

.heatmap-tracker-boxes .with-border {
  border: solid var(--border-width) rgb(61, 61, 61);
}

.theme-dark .heatmap-tracker-boxes .with-border {
  border: solid var(--border-width) white;
}

.theme-dark .heatmap-tracker-boxes .isEmpty {
  background: #333;
}