/* Settings */

/* Palettes */
.heatmap-tracker-settings-palettes__container {
}

.heatmap-tracker-settings-palettes__palette-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-width) solid var(--background-modifier-border);
  margin-bottom: 12px;
}

.heatmap-tracker-settings-palettes__palette-container,
.heatmap-tracker-settings-palettes__new-palette-container {
  background-color: var(--background-primary-alt);
  border: var(--border-width) solid var(--background-modifier-border);
  border-radius: 16px;
  padding: 0 12px 12px 12px;
  margin: 12px 0;
}

.heatmap-tracker-settings-palettes__new-palette-container {
  margin-top: 24px;
}
.heatmap-tracker-settings-palettes__new-palette-input {
}
.heatmap-tracker-settings-palettes__new-palette-button {
  margin-left: 16px;
}

.heatmap-tracker-settings-palettes__palette-colors {
  display: flex;
  flex-direction: column;
}

.heatmap-tracker-settings-palettes__palette-color {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  margin: 4px 0;
}

.heatmap-tracker-settings-palettes__color-box {
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin: 0 5px;
  border-radius: 4px;
  border: 1px solid #000;
  transition: transform 0.2s;

  &:hover {
    transform: scale(4);
  }

  &:first-child {
    margin-left: 0;
  }
}

.heatmap-tracker-settings-palettes {
  &__delete-color,
  &__save-color {
    cursor: pointer;
    margin-left: 4px;

    &:disabled {
      opacity: 0.3;
    }
  }
}

.heatmap-tracker-settings-palettes__add-color-header {
  margin: 8px 0;
}

.heatmap-tracker-settings-palettes__add-color-container {
  display: flex;
  flex-direction: column;
}

.heatmap-tracker-settings-palettes__add-color-input-container {
  display: flex;
  align-items: center;
}

.heatmap-tracker-settings-palettes__add-color-button {
  cursor: pointer;
  margin-left: 16px;
}

.heatmap-tracker-settings-palettes__add-color-preview {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  border-radius: 4px;
  border: 1px solid #000;
  transition: transform 0.2s;

  &:hover {
    transform: scale(4);
  }
}

@media screen and (max-width: 750px) {
  .heatmap-tracker-settings-palettes__add-color-input-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
  }

  .heatmap-tracker-settings-palettes__add-color-button {
    grid-row: 2;
    grid-column: 1/-1;
    margin: 8px 0;
  }

  .heatmap-tracker-settings-palettes__new-palette-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 8px;
  }

  .heatmap-tracker-settings-palettes__new-palette-button {
    margin-left: unset;
  }
}

.heatmap-tracker-settings-palettes__delete-palette {
  cursor: pointer;
}

.heatmap-tracker-settings-palettes__add-color-input {
}

.heatmap-tracker-settings-support-section {
  background-color: var(--background-primary-alt);
  border: var(--border-width) solid var(--background-modifier-border);
  border-radius: 16px;
  padding: 0 12px 12px 12px;
  margin: 12px 0;
  text-align: center;

  &__header {
    border-bottom: var(--border-width) solid var(--background-modifier-border);
    margin-bottom: 12px;
    padding-bottom: 12px;
  }
}