/* Base styles */
.heatmap-tracker-graph,
.heatmap-tracker-graph ul,
.heatmap-tracker-graph>* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.heatmap-tracker__container {
  position: relative;
  margin-bottom: 48px;
}

.heatmap-tracker {
  overflow-x: hidden;
}

.heatmap-tracker-loading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-primary-alt);
}

.heatmap-tracker-graph {
  overflow-x: scroll;

  font-size: 0.65em;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'year months'
    'days boxes';
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  width: 100%;
  padding: 12px; /* 0px caused overflow and scrollbars */
}

/* Months */
.heatmap-tracker-months {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-area: months;
  margin: 0.1em 0 0.3em;
  grid-gap: 0.3em;
}

/* Days */
.heatmap-tracker-days {
  grid-area: days;
  justify-self: end;
  margin: 0 0.3em 0 0.1em;
  white-space: nowrap;
}

/* Boxes */
.heatmap-tracker-boxes {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(53, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-area: boxes;
  row-gap: 2px;
  column-gap: 2px;
}

.heatmap-tracker-boxes .heatmap-tracker-box {
  position: relative;
  font-size: 0.75em;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: #ebedf0;
  margin-inline-start: auto !important;
}

.heatmap-tracker-boxes .heatmap-tracker-box:hover {
  transform: scale(1.4);
  border: solid 1px rgb(61, 61, 61);
  cursor: pointer;
}

.heatmap-tracker-boxes .space-between-box {
  background-color: transparent;
}

.heatmap-tracker-boxes .space-between-box:hover {
  transform: unset;
  border: unset;
  cursor: default;
}

.heatmap-tracker-arrow {
  cursor: pointer;
}

.heatmap-tracker-year-display {
  margin: 0 12px;
}

.heatmap-tracker-boxes .heatmap-tracker-box:not(.task-list-item)::before {
  content: unset;
}

.heatmap-tracker-boxes .internal-link {
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.heatmap-tracker-boxes .today {}

.heatmap-tracker-boxes .with-border {
  border: solid 1px rgb(61, 61, 61);
}

.theme-dark .heatmap-tracker-boxes .isEmpty {
  background: #333;
}

.heatmap-tracker-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
}

.heatmap-tracker-header__main-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  font-size: 0.65em;
}

@media screen and (max-width: 750px) {
  .heatmap-tracker-header__main-row {
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  .heatmap-tracker-header__navigation {
    grid-row: 2;
    grid-column: 2;
  }

  .heatmap-tracker-header__title {
    grid-column: 1/-1;
  }

  .heatmap-tracker-header__tabs {
    grid-row: 2;
    grid-column: 3;
  }
}

.heatmap-tracker-header__sub-row {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
}

.heatmap-tracker-header__subtitle {
  grid-column: 2/3;
  font-size: 0.7em;
  text-align: center;
}

.heatmap-tracker-header__navigation {
  display: flex;
  align-items: center;
}

.heatmap-tracker-header__title {
  font-size: 1.2em;
  text-align: center;
}

/* Tabs */
.heatmap-tracker-header__tabs {
  display: flex;
  justify-self: flex-end;
}

.heatmap-tracker-header__tabs > *:not(:last-child) {
  margin-right: 0.2em;
}

.heatmap-tracker-tab {
  cursor: pointer;
}


/* Days visibility */
/* UPDATE IT TO DISPLAY NOT ALL WEEK DAYS */
.heatmap-tracker-days div:nth-child(odd) {
  visibility: hidden;
}

/* Settings */
.heatmap-tracker-settings-colors__color-box {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px;
}

.heatmap-tracker-settings-colors__color-box:first-child {
  margin-left: 0;
}

.heatmap-tracker-settings-colors__color-name {
  display: inline-block;
}

.heatmap-tracker-settings-colors__container {
  align-items: center;
  border-top: 1px solid var(--background-modifier-border);
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}

.heatmap-tracker-settings-colors__container h4 {
  margin: 0.5em 0;
}

.heatmap-tracker-settings-colors__new-color-input-container {
  display: flex;
  justify-content: space-between;
}

.heatmap-tracker-settings-colors__new-color-input-container input {
  margin-right: 1em;
}

.heatmap-tracker-settings-colors__new-color-input-value {
  flex-grow: 1;
}

.heatmap-tracker-boxes.separate-months {
  grid-auto-flow: column;
  grid-template-columns: repeat(64, 1fr);
  grid-area: boxes;
}

.theme-dark .heatmap-tracker-boxes .today {
  border: solid 1px white;
}

/* Heatmap Statistics */
.heatmap-statistics {}

.heatmap-statistics hr {
  margin: 8px 0;
}

.heatmap-statistics__header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  align-items: center;

  font-size: 0.65em;
}

.heatmap-statistics__header button {
  justify-self: start;
}

.heatmap-statistics__title {
  font-size: 1.2em;
  text-align: center;
}

.heatmap-statistics__content {
  font-size: 0.8em;
  margin-top: 0.6em;
}


/* ----
/* ---- DEV Only ---- */
/* ----

/* for putting the settings window off to the side whilst taking screenshots */
/*
.modal-container {
  justify-content: left !important; 
  padding-left: 20px !important;
}
.modal-bg {
  opacity: 0% !important;
}
.modal-container.mod-dim .modal {
  box-shadow: var(--shadow-s) !important;
}
.modal.mod-sidebar-layout {
  width: 700px !important;
}
.vertical-tab-content::-webkit-scrollbar {
  display: none;
}
*/

/* ----
/* ---- DEV Only /END ---- */
/* ----