/* Base styles */
.heatmap-tracker-graph,
.heatmap-tracker-graph ul,
.heatmap-tracker-graph > * {
  padding: 0;
  margin: 0;
  list-style: none;
}

.heatmap-tracker__container, .heatmap-tracker-legend {
  position: relative;
  margin: 24px 0;
  padding: 0.5em;
  border: var(--border-width) solid transparent;
  border-radius: var(--radius-s);
  transition: border 0.2s;
  overflow: hidden;

  &:hover {
    border: var(--border-width) solid var(--background-modifier-border-hover);
  }
}

.heatmap-tracker, .heatmap-tracker-legend {
  overflow-x: hidden;
}

.heatmap-tracker-loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-primary-alt);
}

.heatmap-tracker-graph {
  overflow-x: scroll;

  font-size: 0.65em;
  display: grid;
  grid-template-areas:
    "year months"
    "days boxes";
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100%;
  padding: 12px; /* 0px caused overflow and scrollbars */

  &--vertical {
    grid-template-areas: "year days" "months boxes";
  }
}

/* Months */
.heatmap-tracker-months {
  grid-area: months;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0.1em 0 0.3em;
  row-gap: 0.3em;
  column-gap: 0.3em;
  justify-items: stretch;

  &--vertical {
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: none;
  }
}

/* Days */
.heatmap-tracker-days {
  grid-area: days;
  display: grid;
  justify-items: end;
  align-items: center;
  margin: 0 0.4em 0 0.1em;
  white-space: nowrap;
  grid-template-rows: repeat(7, 1fr);
  row-gap: 2px;

  &--even {
    div:nth-child(odd) {
      visibility: hidden;
    }
  }

  &--odd {
    div:nth-child(even) {
      visibility: hidden;
    }
  }

  &--all {
    div {
      visibility: visible;
    }
  }

  &--none {
    div {
      visibility: hidden;
    }
  }
}

/* Boxes */
.heatmap-tracker-boxes {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(53, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-area: boxes;
  row-gap: 2px;
  column-gap: 2px;

  &--vertical {
    grid-template-rows: repeat(53, 12px);
    grid-template-columns: repeat(7, 12px);
    grid-auto-flow: row;
  }
}

.heatmap-tracker-box {
  position: relative;
  font-size: 0.75em;
  aspect-ratio: 1;
  border-radius: 2px;
  background-color: #ebedf0;
  transition: transform 0.2s, border 0.2s;

  &:hover {
    transform: scale(1.4);
    border: solid var(--border-width) rgb(61, 61, 61);
    cursor: pointer;
  }
}

/* Separate Months */

.heatmap-tracker-boxes.separate-months {
  grid-auto-flow: column;
  grid-template-columns: repeat(64, 1fr);
  grid-area: boxes;

  &--vertical {
    grid-template-rows: repeat(64, 12px);
    grid-template-columns: repeat(7, 12px);
    grid-auto-flow: row;
  }
}

.heatmap-tracker-boxes .space-between-box {
  background-color: transparent;

  &:hover {
    transform: unset;
    border: unset;
    cursor: default;
  }
}

.heatmap-tracker-arrow {
  cursor: pointer;
}

.heatmap-tracker-year-display {
  margin: 0 12px;
}

.heatmap-tracker-box:not(.task-list-item)::before {
  content: unset;
}

.heatmap-tracker-boxes .internal-link {
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.heatmap-tracker-boxes .today {
}

.heatmap-tracker-boxes .with-border {
  border: solid var(--border-width) rgb(61, 61, 61);
}

.theme-dark .heatmap-tracker-boxes .isEmpty {
  background: #333;
}

.heatmap-tracker-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
}

.heatmap-tracker-header__main-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  font-size: 0.65em;
}

.heatmap-tracker-header__sub-row {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
}

.heatmap-tracker-header__subtitle {
  grid-column: 2/3;
  font-size: 0.7em;
  text-align: center;
}

.heatmap-tracker-header__navigation {
  display: flex;
  align-items: center;
}

.heatmap-tracker-header__title {
  font-size: 1.2em;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .heatmap-tracker-header__main-row {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  .heatmap-tracker-header__navigation {
    grid-row: 3;
    grid-column: 2;
  }

  .heatmap-tracker-header__title {
    grid-column: 1/-1;
    grid-row: 2;
  }

  .heatmap-tracker-header__tabs {
    grid-row: 1;
    grid-column: 2;
  }

  .heatmap-tracker-header__subtitle {
    grid-column: 1/-1;
    font-size: 0.7em;
    text-align: center;
  }
}

/* Tabs */
.heatmap-tracker-header__tabs {
  display: flex;
  justify-self: flex-end;
  position: relative;
}

.heatmap-tracker-header__tabs > *:not(:last-child) {
  margin-right: 0.2em;
}

.heatmap-tracker-tab {
  cursor: pointer;
}

/* Settings */

/* Palettes */
.heatmap-tracker-settings-palettes__container {
}

.heatmap-tracker-settings-palettes__palette-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heatmap-tracker-settings-palettes__palette-container {
}

.heatmap-tracker-settings-palettes__new-palette-container {
  margin-top: 24px;
}
.heatmap-tracker-settings-palettes__new-palette-input {
}
.heatmap-tracker-settings-palettes__new-palette-button {
  margin-left: 16px;
}

.heatmap-tracker-settings-palettes__palette-colors {
  display: flex;
  flex-direction: column;
}

.heatmap-tracker-settings-palettes__palette-color {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 7fr 1fr;
  column-gap: 4px;
  margin: 4px 0;
  justify-items: flex-start;
}

.heatmap-tracker-settings-palettes__color-box {
  width: 16px;
  height: 16px;
  margin: 0 5px;
  border-radius: 4px;
  border: 1px solid #000;
  transition: transform 0.2s;

  &:hover {
    transform: scale(4);
  }

  &:first-child {
    margin-left: 0;
  }
}

.heatmap-tracker-settings-palettes__delete-color {
  cursor: pointer;
}

.heatmap-tracker-settings-palettes__add-color-header {
  margin: 8px 0;
}

.heatmap-tracker-settings-palettes__add-color-container {
  display: flex;
  flex-direction: column;
}

.heatmap-tracker-settings-palettes__add-color-input-container {
  display: flex;
  align-items: center;
}

.heatmap-tracker-settings-palettes__add-color-button {
  cursor: pointer;
  margin-left: 16px;
}

.heatmap-tracker-settings-palettes__add-color-preview {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  border-radius: 4px;
  border: 1px solid #000;
  transition: transform 0.2s;

  &:hover {
    transform: scale(4);
  }
}

@media screen and (max-width: 750px) {
  .heatmap-tracker-settings-palettes__add-color-input-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
  }

  .heatmap-tracker-settings-palettes__add-color-button {
    grid-row: 2;
    grid-column: 1/-1;
    margin: 8px 0;
  }

  .heatmap-tracker-settings-palettes__new-palette-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 8px;
  }

  .heatmap-tracker-settings-palettes__new-palette-button {
    margin-left: unset;
  }
}

.heatmap-tracker-settings-palettes__delete-palette {
  cursor: pointer;
}

.heatmap-tracker-settings-palettes__add-color-input {
}

.theme-dark .heatmap-tracker-boxes .today {
  border: solid 1px white;
}

/* Heatmap Statistics */
.heatmap-statistics {
}

.heatmap-statistics hr {
  margin: 8px 0;
}

.heatmap-statistics__header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  align-items: center;

  font-size: 0.65em;
}

.heatmap-statistics__header button {
  justify-self: start;
}

.heatmap-statistics__title {
  font-size: 1.2em;
  text-align: center;
}

.heatmap-statistics__content {
  font-size: 0.8em;
  margin-top: 0.6em;
}

.heatmap-tracker-footer {
  padding: 0.2em 0;
}

.heatmap-tracker-footer__important {
  font-size: 0.7em;
  display: flex;
  align-items: center;
  column-gap: 4px;
  justify-content: center;
}

.breaking-changes-view__maintenance-border {
  background: repeating-linear-gradient(
    45deg,
    rgb(151, 190, 90),
    rgb(151, 190, 90) 35px,
    rgb(255, 232, 197) 35px,
    rgb(255, 232, 197) 70px
  );
  padding: 8px;
}

.breaking-changes-view__container {
  background-color: var(--background-primary-alt);
  padding: 8px;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 300px;
  }
}

/** END SNOW **/

/* LEGEND VIEW */
.legend-view {
  display: flex;
  align-items: center;
  justify-content: center;

  table {
    border-collapse: collapse;

    th,
    td {
      padding: 8px;
      text-align: center;
      font-size: 0.8em;
    }
  }

  &__color-cell {
    display: flex;
    align-items: center;
  }
}
/* END LEGEND VIEW */

/* DOCUMENTATION VIEW */
.documentation-view__container {
  font-size: 0.8em;
}
/* END DOCUMENTATION VIEW */

/* DONATION VIEW */
.donation-view {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__header {
    font-size: 16px;
    margin-bottom: 12px;
    text-align: center;
  }

  &__sub-header {
    font-size: 14px;
    margin-top: 12px;
    text-align: center;
  }

  &__text {
    font-size: 12px;
    margin-bottom: 12px;
    text-align: justify;
  }

  &__button {
    margin-top: 12px;
    height: 60px;
    width: 217px;
    align-self: center;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 12px;

    &:hover {
      transform: scale(1.1);
      box-shadow: #aaaaaa 4px 4px 12px 4px;
    }
  }

  &__milestone-list {
    padding-left: 0;
  }

  &__milestone-item {
    font-size: 12px;
    margin-bottom: 4px;
  }

  &__emoji {
    margin-right: 8px;
  }

  &__donor-list {
    padding-left: 0;
  }

  &__donor-item {
    font-size: 12px;
  }
}
