@use './styles/heatmap-statistics.scss';
@use './styles/heatmap-legend.scss';
@use './styles/heatmap-donation.scss';
@use './styles/heatmap-settings.scss';
@use './styles/heatmap-tracker-header.scss';
@use './styles/heatmap-documentation.scss';
@use './styles/heatmap-breaking-changes.scss';
@use './styles/heatmap-tracker-footer.scss';
@use './styles/heatmap-tracker-months.scss';
@use './styles/heatmap-tracker-days.scss';
@use './styles/heatmap-tracker-box.scss';
@use './styles/heatmap-tracker-boxes.scss';

.heatmap-tracker__container,
.heatmap-tracker-legend,
.heatmap-tracker-statistics {
  --heatmap-tracker-box-size: 12px;
  --heatmap-tracker-box-gap: 2px;
  --heatmap-tracker-months-height: 1.5em;

  position: relative;
  padding: 0.5em;
  overflow: hidden;

  @if $isDev {
    div:not(.heatmap-tracker-box) {
      outline: 1px dashed red !important; /* Use outline instead of border */
      position: relative;

      &:hover::after {
        content: attr(class);
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        font-size: 10px;
        padding: 2px 4px;
        border-radius: 2px;
        z-index: 9999;
        white-space: nowrap;
      }
    }
  }
}

.heatmap-tracker-container,
.heatmap-tracker-legend,
.heatmap-tracker-statistics {
  border: var(--border-width) solid transparent;
  border-radius: var(--radius-s);
  transition: border 0.2s;

  &:hover {
    border: var(--border-width) solid var(--background-modifier-border-hover);
  }
}

.heatmap-tracker-legend {
  overflow-x: hidden;
}

.heatmap-tracker {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 12px;
}

.heatmap-tracker-loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-primary-alt);
}

.heatmap-tracker-graph {
  overflow-x: auto;
  padding-bottom: 12px;

  font-size: 0.65em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  width: max-content;
}

.heatmap-tracker-arrow {
  cursor: pointer;
}

.heatmap-tracker-year-display {
  margin: 0 12px;
}

// .heatmap-tracker-boxes .month-feb.isEmpty,
// .heatmap-tracker-boxes .month-apr.isEmpty,
// .heatmap-tracker-boxes .month-jun.isEmpty,
// .heatmap-tracker-boxes .month-aug.isEmpty,
// .heatmap-tracker-boxes .month-oct.isEmpty,
// .heatmap-tracker-boxes .month-dec.isEmpty {
//     background: #e2e2e2 !important;
// }

// .theme-dark .heatmap-tracker-boxes .month-feb.isEmpty,
// .theme-dark .heatmap-tracker-boxes .month-apr.isEmpty,
// .theme-dark .heatmap-tracker-boxes .month-jun.isEmpty,
// .theme-dark .heatmap-tracker-boxes .month-aug.isEmpty,
// .theme-dark .heatmap-tracker-boxes .month-oct.isEmpty,
// .theme-dark .heatmap-tracker-boxes .month-dec.isEmpty {
//     background: #424242 !important;
// }
