/* Base styles */
.heatmap-tracker-graph,
.heatmap-tracker-graph ul,
.heatmap-tracker-graph > * {
  padding: 0;
  margin: 0;
  list-style: none;
}

.heatmap-tracker__container {
  position: relative;
  margin: 24px 0;
  padding: 0.5em;
  border: var(--border-width) solid transparent;
  border-radius: var(--radius-s);
  transition: border 0.2s;
  overflow: hidden;
}

.heatmap-tracker__container:hover {
  border: var(--border-width) solid var(--background-modifier-border-hover);
}

.heatmap-tracker {
  overflow-x: hidden;
}

.heatmap-tracker-loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-primary-alt);
}

.heatmap-tracker-graph {
  overflow-x: scroll;

  font-size: 0.65em;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "year months"
    "days boxes"
    "none weekNumbers";
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100%;
  padding: 12px; /* 0px caused overflow and scrollbars */
}

/* Months */
.heatmap-tracker-months {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-area: months;
  margin: 0.1em 0 0.3em;
  grid-gap: 0.3em;
}

/* Days */
.heatmap-tracker-days {
  grid-area: days;
  justify-self: end;
  margin: 0 0.3em 0 0.1em;
  white-space: nowrap;
}

/* Boxes */
.heatmap-tracker-boxes {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(53, 12px);
  grid-template-rows: repeat(7, 12px);
  grid-area: boxes;
  row-gap: 2px;
  column-gap: 2px;
}

.heatmap-tracker-week-numbers {
  display: grid;
  grid-area: weekNumbers;
  grid-template-columns: repeat(53, 12px);
  column-gap: 2px;
  font-size: 8px;
}

.heatmap-tracker-week-number {
  justify-self: center;
}

.heatmap-tracker-boxes .heatmap-tracker-box {
  position: relative;
  font-size: 0.75em;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: #ebedf0;
  transition: transform 0.2s, border 0.2s;
}

.heatmap-tracker-boxes .heatmap-tracker-box:hover {
  transform: scale(1.4);
  border: solid var(--border-width) rgb(61, 61, 61);
  cursor: pointer;
}

/* Separate Months */

.heatmap-tracker-boxes.separate-months {
  grid-auto-flow: column;
  grid-template-columns: repeat(64, 1fr);
  grid-area: boxes;
}

.heatmap-tracker-boxes .space-between-box {
  background-color: transparent;
}

.heatmap-tracker-boxes .space-between-box:hover {
  transform: unset;
  border: unset;
  cursor: default;
}

.heatmap-tracker-arrow {
  cursor: pointer;
}

.heatmap-tracker-year-display {
  margin: 0 12px;
}

.heatmap-tracker-boxes .heatmap-tracker-box:not(.task-list-item)::before {
  content: unset;
}

.heatmap-tracker-boxes .internal-link {
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.heatmap-tracker-boxes .today {
}

.heatmap-tracker-boxes .with-border {
  border: solid var(--border-width) rgb(61, 61, 61);
}

.theme-dark .heatmap-tracker-boxes .isEmpty {
  background: #333;
}

.heatmap-tracker-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
}

.heatmap-tracker-header__main-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  font-size: 0.65em;
}

@media screen and (max-width: 750px) {
  .heatmap-tracker-header__main-row {
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  .heatmap-tracker-header__navigation {
    grid-row: 2;
    grid-column: 2;
  }

  .heatmap-tracker-header__title {
    grid-column: 1/-1;
  }

  .heatmap-tracker-header__tabs {
    grid-row: 2;
    grid-column: 3;
  }
}

.heatmap-tracker-header__sub-row {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
}

.heatmap-tracker-header__subtitle {
  grid-column: 2/3;
  font-size: 0.7em;
  text-align: center;
}

.heatmap-tracker-header__navigation {
  display: flex;
  align-items: center;
}

.heatmap-tracker-header__title {
  font-size: 1.2em;
  text-align: center;
}

/* Tabs */
.heatmap-tracker-header__tabs {
  display: flex;
  justify-self: flex-end;
  position: relative;
}

.heatmap-tracker-header__tabs > *:not(:last-child) {
  margin-right: 0.2em;
}

.heatmap-tracker-tab {
  cursor: pointer;
}

/* Days visibility */
/* UPDATE IT TO DISPLAY NOT ALL WEEK DAYS */
.heatmap-tracker-days div:nth-child(odd) {
  visibility: hidden;
}

/* Settings */

/* Palettes */
.heatmap-tracker-settings-palettes__container {
}

.heatmap-tracker-settings-palettes__palette-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heatmap-tracker-settings-palettes__palette-container {
}

.heatmap-tracker-settings-palettes__new-palette-container {
  margin-top: 24px;
}
.heatmap-tracker-settings-palettes__new-palette-input {
}
.heatmap-tracker-settings-palettes__new-palette-button {
  margin-left: 16px;
}

.heatmap-tracker-settings-palettes__palette-colors {
  display: flex;
  flex-direction: column;
}

.heatmap-tracker-settings-palettes__palette-color {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 7fr 1fr;
  column-gap: 4px;
  margin: 4px 0;
  justify-items: flex-start;
}

.heatmap-tracker-settings-palettes__color-box {
  width: 16px;
  height: 16px;
  margin: 0 5px;
  border-radius: 4px;
  border: 1px solid #000;
  transition: transform 0.2s;
}

.heatmap-tracker-settings-palettes__color-box:hover {
  transform: scale(4);
}

.heatmap-tracker-settings-palettes__color-box:first-child {
  margin-left: 0;
}

.heatmap-tracker-settings-palettes__delete-color {
  cursor: pointer;
}

.heatmap-tracker-settings-palettes__add-color-header {
  margin: 8px 0;
}

.heatmap-tracker-settings-palettes__add-color-container {
  display: flex;
  flex-direction: column;
}

.heatmap-tracker-settings-palettes__add-color-input-container {
  display: flex;
  align-items: center;
}

.heatmap-tracker-settings-palettes__add-color-button {
  cursor: pointer;
  margin-left: 16px;
}

.heatmap-tracker-settings-palettes__add-color-preview {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  border-radius: 4px;
  border: 1px solid #000;
  transition: transform 0.2s;
}

.heatmap-tracker-settings-palettes__add-color-preview:hover {
  transform: scale(4);
}

@media screen and (max-width: 750px) {
  .heatmap-tracker-settings-palettes__add-color-input-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
  }

  .heatmap-tracker-settings-palettes__add-color-button {
    grid-row: 2;
    grid-column: 1/-1;
    margin: 8px 0;
  }

  .heatmap-tracker-settings-palettes__new-palette-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 8px;
  }

  .heatmap-tracker-settings-palettes__new-palette-button {
    margin-left: unset;
  }
}

.heatmap-tracker-settings-palettes__delete-palette {
  cursor: pointer;
}

.heatmap-tracker-settings-palettes__add-color-input {
}

.theme-dark .heatmap-tracker-boxes .today {
  border: solid 1px white;
}

/* Heatmap Statistics */
.heatmap-statistics {
}

.heatmap-statistics hr {
  margin: 8px 0;
}

.heatmap-statistics__header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  align-items: center;

  font-size: 0.65em;
}

.heatmap-statistics__header button {
  justify-self: start;
}

.heatmap-statistics__title {
  font-size: 1.2em;
  text-align: center;
}

.heatmap-statistics__content {
  font-size: 0.8em;
  margin-top: 0.6em;
}

.heatmap-tracker-footer {
  padding: 0.2em 0;
}

.heatmap-tracker-footer__important {
  font-size: 0.7em;
  display: flex;
  align-items: center;
  column-gap: 4px;
  justify-content: center;
}

.breaking-changes-view__maintenance-border {
  background: repeating-linear-gradient(
    45deg,
    rgb(151, 190, 90),
    rgb(151, 190, 90) 35px,
    rgb(255, 232, 197) 35px,
    rgb(255, 232, 197) 70px
  );
  padding: 8px;
}

.breaking-changes-view__container {
  background-color: var(--background-primary-alt);
  padding: 8px;
}

.santa-claus-hat {
  position: absolute;
  top: -5px;
  left: 18px;
  transform: rotate(23deg);
}


/** SNOW **/
.snow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.3%3Bfill:%238cceff%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st1' cx='5' cy='8' r='1'/%3E%3Ccircle class='st1' cx='38' cy='3' r='1'/%3E%3Ccircle class='st1' cx='12' cy='4' r='1'/%3E%3Ccircle class='st1' cx='16' cy='16' r='1'/%3E%3Ccircle class='st1' cx='47' cy='46' r='1'/%3E%3Ccircle class='st1' cx='32' cy='10' r='1'/%3E%3Ccircle class='st1' cx='3' cy='46' r='1'/%3E%3Ccircle class='st1' cx='45' cy='13' r='1'/%3E%3Ccircle class='st1' cx='10' cy='28' r='1'/%3E%3Ccircle class='st1' cx='22' cy='35' r='1'/%3E%3Ccircle class='st1' cx='3' cy='21' r='1'/%3E%3Ccircle class='st1' cx='26' cy='20' r='1'/%3E%3Ccircle class='st1' cx='30' cy='45' r='1'/%3E%3Ccircle class='st1' cx='15' cy='45' r='1'/%3E%3Ccircle class='st1' cx='34' cy='36' r='1'/%3E%3Ccircle class='st1' cx='41' cy='32' r='1'/%3E%3C/svg%3E");
  background-position: 0px 0px;
  animation: animatedBackground 10s linear infinite;
  overflow: hidden;
  pointer-events: none;
}

.snow div {
  width: auto;
  height: auto;
  overflow: hidden;
  background-position: 0px 0px;
  animation: animatedBackground 15s linear infinite;

  pointer-events: none;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 300px;
  }
}


/* ----
/* ---- DEV Only ---- */
/* ----

/* for putting the settings window off to the side whilst taking screenshots */
/*
.modal-container {
  justify-content: left !important; 
  padding-left: 20px !important;
}
.modal-bg {
  opacity: 0% !important;
}
.modal-container.mod-dim .modal {
  box-shadow: var(--shadow-s) !important;
}
.modal.mod-sidebar-layout {
  width: 700px !important;
}
.vertical-tab-content::-webkit-scrollbar {
  display: none;
}
*/

/* ----
/* ---- DEV Only /END ---- */
/* ----